streamlit

langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
langchain-text-splitters

groq

faiss-cpu==1.14.3

sentence-transformers

pandas
openpyxl
pypdf

python-dotenv

streamlit-mic-recorder
